.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 5px;
}
.top-nav {
    height: 150px;
    width: 903.5px;
    background-color: green;
    margin: 20px 20px 0px 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 20px;
}
.side-nav, .main {
    display: inline-block;
}
.main {
    height: 400px;
    width: 680px;
    background-color: red;
    vertical-align: top;
    margin: 20px 0px;
}
.sub-content {
    height: 175px;
    width: 203.5px;
    background-color: yellow;
    display: inline-block;
    margin: 20px -10px 15px 15px;
}
#advertisement {
    height: 110px;
    width: 630px;
    background-color: purple;
    margin: 0px 15px;

}





